{% load static %}

<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {# Bootstrap4 で。#}
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'stylesheet/style.css' %}">
  <title>{% block meta_title %}{% endblock %}</title>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">sample</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>          
      
        <div class="collapse navbar-collapse justify-content-around" id="navbarNav4">
      
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Howto</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Term</a>
            </li>
          </ul>
          <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Listnew</a>
              </li>
            </ul>  
        </div>
      </nav>
</header>
{% if messages %}
  {# Django のメッセージに記録している内容があればここで表示 #}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="messages mt-3">
          {% for message in messages %}
            <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{ message }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="mt-5">{% block page_title %}Item{% endblock %}</h1>
    </div>
  </div>
</div>
{% block content %}
{% endblock %}
{% block foot_scripts %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
          integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
          integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
          crossorigin="anonymous"></script>
{% endblock %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
 <div class="container">
   <div class="row text-center">
             <div class="col-md-6 col-sm-6 col-xs-12">
              <ul class="menu list-inline">
                     <li><a href="#">Home</a></li> 
                      <li><a href="#">About</a></li> 
                      <li><a href="#">Term</a></li>
                      <li><a href="#">Contact</a> </li>           
             </ul>
           </div>
       </div> 
    </div>
</footer>
<div class="copyright">
 <div class="container">
     <div class="row text-center">
     	<p>Copyright © 2018 All rights reserved</p>
     </div></div></div>
<!-- End -->
</body>
</html>